[Desktop Entry]
Type=Application
Exec=mm3d %U
Icon=moe.clover.mm3d
GenericName=3D Modeler
Comment=3D modeling program
Terminal=false
Name=Maverick Model 3D
MimeType=model/x-mm3d;
Categories=Qt;Graphics;3DGraphics;
X-Flatpak-RenamedFrom=mm3d.desktop;
